@model FenzyCars.Web.ViewModels.Messages.SendedMessagesListViewModel


@foreach (var message in Model.Messages)
{
    <h5>@message.Text</h5>
    <h3>Reciever: @message.Reciever.FirstName @message.Reciever.LastName</h3>
    <h5>@message.Time</h5>
    <hr />
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item"><a class="page-link" asp-action="AllSendedMessages" asp-route-id="1">First</a></li>
        }
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="AllSendedMessages" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="AllSendedMessages" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
        @if (Model.PageNumber < Model.PagesCount)
        {
            <li class="page-item"><a class="page-link" asp-action="AllSendedMessages" asp-route-id="@Model.PagesCount">Last</a></li>
        }
    </ul>
</nav>